body {
    font: 10px Verdana, Geneva, sans-serif;
}

header, nav {
    width: 100%;
}

strong {
    font-weight: bold;
}

header {
    position: relative;
    height: 125px;
}

aside, section {
    position: relative;
    min-height: 300px;
}

section {
    float: left;
    width: calc(100% - 350px);
}

aside {
    float: right;
    width: 350px;
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:link:active, a:visited:active {
    color: inherit;
}

/*//////////////////////////////////////////*/

#topNavigation {
    position: relative;
    display: flex;
    height: 40px;
    align-items: center;
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
}

#logo {
    position: absolute;
}

#logo > img {
    width: 183px;
    height: 125px;
}

#topNavigation > a {
    font: 13px Arial, Helvetica, sans-serif;
}

#topNavigation > a,
header form > label {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

#search {
    position: relative;
    float: right;
    height: 100%;
}

#search form {
    display: flex;
    margin: 40px;
    padding: 10px;
    width: auto;
    height: auto;
    align-items: center;
}

#search form > label {
    float: left;
    line-height: 23px;
}

#search form input {
    margin: 5px 0 5px 5px;
    padding: 5px;
    border: none;
}

#search form button {
    position: relative;
    float: right;
    padding: 0;
    width: 27px;
    height: 25px;
    outline: none;
    border: 0;
    background-color: #fee800;
    color: #00549A;
    text-align: center;
    font-size: 26px;
    line-height: 26px;
    cursor: pointer;
}

/*///////////////////////////////////////////*/

.clearfix::before, .clearfix::after {
    display: table;
    content: ' ';
}

.clearfix::after {
    clear: both;
}

.bg-blue {
    background-color: #005FA4;
}

.bg-blue-darker {
    background-color: #00549A;
}

.big-image-container, .details {
    float: left;
    margin: 25px;
}

.big-image-container {
    width: 220px;
}

.big-image-container .legenda {
    color: #333;
    font: 8pt Verdana, Geneva, sans-serif;
    line-height: 140%;
}

.big-image-container .legenta-container {
    margin: 20px 0 0 0;
}

.big-image-container img {
    width: 220px;
    height: 220px;
}

.details {
    width: calc(100% - 350px);
    height: 100px;
}

.details > .content p {
    margin-bottom: 20px;
}

.details > .content {
    color: #333333;
    font: 10pt Verdana, Geneva, sans-serif;
    line-height: 175%;
}

.details > .title {
    color: #00549a;
    text-transform: uppercase;
    font: 15pt Arial, Helvetica, sans-serif;
    line-height: 150%;
}

.right-menu {
    margin: 25px;
    padding-bottom: 35px;
    width: 200px;
    font-size: 14px;
    line-height: normal;
}

.right-menu ul > li a:hover {
    background-color: #F6F6F1;
    text-decoration: none;
}

.right-menu ul > li.active a {
    border-right: 1px solid #D6D3B8;
    border-left: 1px solid #D6D3B8;
    background-color: #F6F6F1;
    font-weight: bold;
}

.right-menu ul > li a {
    display: block;
    padding: 10px 15px;
    color: #00549A;
    text-decoration: none;
}

.right-menu ul > li {
    position: relative;
    z-index: 100;
    border-bottom: 1px solid #D6D3B8;
}

.right-menu ul {
    margin: 0;
    border-top: 1px solid #D6D3B8;
    list-style-type: none;
}

/*//////////////////////////////////////////*/
/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    background-color: #F6F6F1;
    list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 10px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
    padding: 2px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*//////////////////////////////////////////*/


